@use "sass:math";

@function toRem($value) {
  @return (math.div($value, 16)) + rem;
}

@mixin background(
  $imgpath,
  $backgroundposition: center,
  $repeat: no-repeat,
  $width: 100vw
) {
  background: {
    image: url($imgpath);
    repeat: $repeat;
    position: $backgroundposition;
    width: $width;
  }
}
